<nav class="navbar navbar-light ">
    <ul class="nav">
        <li class="nav-item">
          <a routerLink="/login"  class="nav-link active"
          routerLinkActive="disabled">Login</a>
        </li>  
        <li class="nav-item">
            <a routerLink="/cursos" class="nav-link active"
            routerLinkActive="disabled" >Cursos</a>
          </li>   
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a routerLink="" class="nav-link active" >Rotas ng</a>
          </li>
    </ul>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>